.page {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

.page__content {
  text-align: justify;
  word-wrap: break-word;
}

.page__title {
  text-align: center;
}

.post-content {
  text-align: justify;
  word-wrap: break-word;
}

